In [1]:
import os

import analysis_session_helper_functions_c3 as helper
import analysis_utils as utils

import pandas as pd

In [3]:
cohort = 'cohort_3'
to_analyze = 'full_clean'
data_dir = '/Users/rebekahzhang/Documents/shuler_lab/behavior_data'
data_folder = os.path.join(data_dir, cohort, to_analyze)
print(data_folder)

/Users/rebekahzhang/Documents/shuler_lab/behavior_data/cohort_3/full_clean

In [4]:
session_log = helper.generate_all_session_log(data_folder)
session_log.head()

,date,mouse,dir,filename
0,2023-08-04,RZ018,2023-08-04_15-16-04_RZ018,data_RZ018_2023-08-04_15-16-04.txt
1,2023-08-02,RZ020,2023-08-02_11-48-16_RZ020,data_RZ020_2023-08-02_11-48-16.txt
2,2023-07-25,RZ021,2023-07-25_13-42-06_RZ021,data_RZ021_2023-07-25_13-42-06.txt
3,2023-08-28,RZ025,2023-08-28_15-02-48_RZ025,data_RZ025_2023-08-28_15-02-48.txt
4,2023-08-10,RZ025,2023-08-10_12-28-59_RZ025,data_RZ025_2023-08-10_12-28-59.txt

In [17]:
date_list = session_log.date.unique().tolist()
date_list.sort()
mouse_list = session_log.mouse.unique().tolist()
mouse_list.sort()

In [18]:
for date in date_list:
    sessions_log_date = session_log.loc[session_log.date == date]
    for mouse in mouse_list:
        session_log_date_mouse = sessions_log_date.loc[sessions_log_date.mouse == mouse]
        if len(session_log_date_mouse) == 0 or len(session_log_date_mouse) == 1:
            continue
        elif len(session_log_date_mouse) > 0:

           date  mouse                        dir  \
21   2023-07-22  RZ020  2023-07-22_12-16-16_RZ020
153  2023-07-22  RZ021  2023-07-22_12-47-56_RZ021
256  2023-07-22  RZ019  2023-07-22_12-39-24_RZ019

                               filename
21   data_RZ020_2023-07-22_12-16-16.txt
153  data_RZ021_2023-07-22_12-47-56.txt
256  data_RZ019_2023-07-22_12-39-24.txt
Empty DataFrame
Columns: [date, mouse, dir, filename]
Index: []

In [31]:
sessions_log_date = session_log.loc[session_log.date == '2023-08-29']
session_log_date_mouse = sessions_log_date.loc[sessions_log_date.mouse == 'RZ025']

In [32]:
session_log_date_mouse

,date,mouse,dir,filename
46,2023-08-29,RZ025,2023-08-29_14-50-18_RZ025,data_RZ025_2023-08-29_14-50-18.txt
70,2023-08-29,RZ025,2023-08-29_11-51-42_RZ025,data_RZ025_2023-08-29_11-51-42.txt

In [33]:
training_session_log = utils.load_session_log(data_folder, 'training_sessions.csv')

In [34]:
training_session_log

,index,date,mouse,dir,filename,training,num_blocks,num_trials,rewards,time,proper_end,session_num
0,172,2023-07-25,RZ018,2023-07-25_10-24-14_RZ018,data_RZ018_2023-07-25_10-24-14.txt,regular,0.0,351.0,181.5,1767.68,True,0
4,163,2023-07-25,RZ018,2023-07-25_13-05-38_RZ018,data_RZ018_2023-07-25_13-05-38.txt,regular,0.0,336.0,303.5,1915.50,True,1
9,131,2023-07-25,RZ018,2023-07-25_14-36-19_RZ018,data_RZ018_2023-07-25_14-36-19.txt,regular,0.0,352.0,424.1,2010.73,True,2
14,62,2023-07-26,RZ018,2023-07-26_11-53-13_RZ018,data_RZ018_2023-07-26_11-53-13.txt,regular,0.0,476.0,220.3,2403.41,True,3
18,38,2023-07-27,RZ018,2023-07-27_10-18-56_RZ018,data_RZ018_2023-07-27_10-18-56.txt,regular,0.0,469.0,228.8,2402.24,True,4
...,...,...,...,...,...,...,...,...,...,...,...,...
203,3,2023-08-28,RZ025,2023-08-28_15-02-48_RZ025,data_RZ025_2023-08-28_15-02-48.txt,regular,0.0,298.0,555.0,2405.52,True,21
209,70,2023-08-29,RZ025,2023-08-29_11-51-42_RZ025,data_RZ025_2023-08-29_11-51-42.txt,regular,0.0,318.0,382.8,2405.03,True,22
216,46,2023-08-29,RZ025,2023-08-29_14-50-18_RZ025,data_RZ025_2023-08-29_14-50-18.txt,regular,0.0,58.0,207.6,642.39,True,23
225,165,2023-08-30,RZ025,2023-08-30_11-30-30_RZ025,data_RZ025_2023-08-30_11-30-30.txt,regular,0.0,310.0,365.0,2407.98,True,24
234,219,2023-08-31,RZ025,2023-08-31_11-32-38_RZ025,data_RZ025_2023-08-31_11-32-38.txt,regular,0.0,301.0,371.8,2407.31,True,25

In [36]:
date_list = training_session_log.date.unique().tolist()
date_list.sort()
mouse_list = training_session_log.mouse.unique().tolist()
mouse_list.sort()

In [38]:
training_sessions_log_date = training_session_log.loc[training_session_log.date == '2023-08-29']
training_session_log_date_mouse = sessions_log_date.loc[sessions_log_date.mouse == 'RZ025']

In [39]:
training_session_log_date_mouse

,index,date,mouse,dir,filename,training,num_blocks,num_trials,rewards,time,proper_end,session_num
209,70,2023-08-29,RZ025,2023-08-29_11-51-42_RZ025,data_RZ025_2023-08-29_11-51-42.txt,regular,0.0,318.0,382.8,2405.03,True,22
216,46,2023-08-29,RZ025,2023-08-29_14-50-18_RZ025,data_RZ025_2023-08-29_14-50-18.txt,regular,0.0,58.0,207.6,642.39,True,23